doctype
html(lang="ru")
  head
      body
          .display-flex.drobdown.drobdown_wigth266.dropdown_radius-bottom
              .dropdown__text_padding
                  p.text_size14-dark75.drobdown__text_overflow
                      span.drobdown__span_padding(id='bedroom') 2
                      span.drobdown__span_padding спальни,
                      span.drobdown__span_padding(id='bed') 2
                      span.drobdown__span_padding кровати,
                      span.drobdown__span_padding(id='bathroom') 2
                      span.drobdown__span_padding ванные комнаты,
              button.dropdown__btn(id='dropdown__btn-room_none')
                  i.material-icons.dropdown-default__icon_style expand_more
          .dropdown-expended__container.dropdown-expended__container_height119.dropdown-expended__container_width266.drobdown-room-none.oll-display-none
              .dropdown-expended_wrapper
                  .dropdown-expended__view_width152
                      p.textDark100 спальни
                  .btn-plus-minus-container
                      button(type=button class='btn-plus-minus' id='btn-minus-room-1')
                          p &ndash;
                  .summ
                      p.textDark100.dropdown__summ(id='room-summ-1') 1
                  .btn-plus-minus-container
                      button(type=button class='btn-plus-minus' id='btn-plus-room-1')
                          img(src='assets/images/elements/plus.png')
              .dropdown-expended_wrapper
                  .dropdown-expended__view_width152
                      p.textDark100 кровати
                  .btn-plus-minus-container
                      button(type=button class='btn-plus-minus' id='btn-minus-room-2')
                          p &ndash;
                  .summ
                      p.textDark100.dropdown__summ(id='room-summ-2') 1
                  .btn-plus-minus-container
                      button(type=button class='btn-plus-minus' id='btn-plus-room-2')
                          img(src='assets/images/elements/plus.png')
              .dropdown-expended_wrapper
                  .dropdown-expended__view_width152
                      p.textDark100 ванные
                  .btn-plus-minus-container
                      button(type=button class='btn-plus-minus' id='btn-minus-room-3')
                          p &ndash;
                  .summ
                      p.textDark100.dropdown__summ(id='room-summ-3') 1
                  .btn-plus-minus-container
                      button(type=button class='btn-plus-minus' id='btn-plus-room-3')
                          img(src='assets/images/elements/plus.png')
          script(src='scripts/main.js')
          script(src='scripts/jquery-3.3.1.min.js')


